* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    min-height: 100vh;
    background-color: #ecedf2;
    position: relative;
    overflow-x: hidden;
}

/*======================== CABEÇALHO ========================*/

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 63, 63);
    position: fixed;
    width: 100%;
    z-index: 2000;
}

img#logo {
    height: 50px;
    align-self: center;
    transform: translateX(50px);
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    width: 160px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: 0.1s ease-in;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: rgb(255, 63, 63);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
    z-index: 2100;
}

ul li a:hover {
    background: rgb(169, 0, 0);
}

ul li:hover ul.dropdown {
    display: block;
}

i {
    transition: 0.1s ease-in;
}
ul li:hover i {
    transform: rotate(180deg);
}

/*======================== MAIN ========================*/

main {
    flex: 1;
    height: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
}


#banner {
    position: relative;
}

#campo-pesquisa {
    position: absolute;
    top: 570px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 40px 20px;
    min-height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


#campo-pesquisa button {
    width: 250px;
    padding: 20px 15px;
    border: none;
    border-radius: 15px;

    background: rgb(255, 63, 63);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;
    transition: 150ms ease-in;
}

#campo-pesquisa button:hover {
    background: rgb(169, 0, 0);
}

#category {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 20px;

    position: absolute;
    top: 20%;
    left: 45px;
}

#category span {
    font-size: 1.5rem;
    font-weight: bold;
    color: grey;
    transition: 150ms ease-in;
}

#campo-pesquisa div span:hover {
    cursor: pointer;
    color: black;
}

#search {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#search div {
    width: 70%;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;

    border: 2px solid rgb(200, 200, 200);
    border-radius: 10px;
}

#search input {
    width: 100%;
    height: 100%;
    border: none;
}

#search input:focus {
    outline: none;
}

#categorias-carros {
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}


#categorias-carros > div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
}

h3{
    font-size: 2.5rem;
    color: #70717e;
    text-align: center;
}
#categorias-carros h3{
    font-size: 2.5rem;
    color: #70717e;
    padding-left: 22%;
}

.card-categorias {
    width: 200px;
    height: 250px;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: end;

    color: #fff;
    transition: 0.1s ease-in;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1;
}

.card-categorias:hover{
    scale: 1.1;
}

.card-categorias img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.card-categorias span {
    position: relative;
    z-index: 1; 
    color: white;
    text-shadow: 1px 1px 4px black; 
}

#carros{
    display: grid;
    justify-items: center;
    justify-self: center;
    margin: 30px 0px;
    gap: 20px;
    width: 80%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.card-carros {
    height: 250px;
    width: 200px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: 150ms ease-in;
}
.card-carros:hover{
    scale: 1.1;
    background: #e1e1e1;
}

.card-carros h2{
    margin-top: 15px;
}

.card-carros button{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    
    background: rgb(101, 101, 234);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 150ms ease-in;
}

.card-carros button:hover{
    scale: 1.1;
    background: rgb(63, 63, 160);
}

.card-carros img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    display: block;
}


/*======================== FOOTER ========================*/

/* Rodapé fixado ao final da página */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 10%;
    gap: 10px;
    padding: 20px;

    background: rgb(34, 35, 40);
    color: #fff;
}
